body,
html {
  color: $c-primary;
  font-family: $f-main-r;
}

#app {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.main {
  min-height: 100vh;
}

.theme {
  &--dark {
    background-color: #000;
    color: #fff;

    .lang {
      &__item {
        color: $c-text-secondary;
        &.active {
          color: #fff;
        }
      }
    }

    .features {
      .feature {
        background: $c-black;
        border: 1px solid #282828;
      }
    }

    .accordion {
      .c-card {
        background: #282828;
      }
    }

    .table {
      &__row {
        &:nth-child(odd) {
          background: #1f1f1f;
        }
      }
    }
  }

  &--light {
    .table {
      background-color: #fff;
    }

    .features {
      .feature {
        &__icon {
          path {
            &.no-fill {
              stroke: $c-primary;
            }

            &:not(.no-fill) {
              fill: $c-primary;
            }
          }
        }
      }
    }

    .c-card {
      .arrow {
        path {
          fill: $c-primary;
        }
      }
    }
  }
}

.title-main {
  font-size: 36px;
  line-height: 44px;
  font-family: $f-main-b;
}

.main {
  padding: 40px 16px;
}

.lang {
  margin: 0 -6px 16px -6px;
  &__item {
    margin: 0 6px;
    color: rgba(16, 8, 63, 0.3);
    cursor: pointer;

    &.active {
      color: $c-text-primary;
      font-family: $f-main-m;
    }
  }
}

.features {
  display: flex;
  flex-wrap: wrap;
  margin: 0 -4px 20px -4px;

  .feature {
    @extend .text--small;
    background: #ffffff;
    border: 1px solid #f1f1f4;
    box-sizing: border-box;
    border-radius: 12px;
    padding: 22px 10px 19px;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: $f-main-b;
    margin: 4px;
    width: calc(100% / 12 * 6 - 8px);

    &__icon {
      margin-bottom: 17px;
      width: 42px;
      height: 42px;
    }

    p {
      margin: 0;
      text-align: center;
    }
  }
}

.price {
  margin-bottom: 18px;
  &__value {
    font-family: $f-main-bl;
    font-size: 42px;
    line-height: 52px;
  }

  &__month {
    font-size: 24px;
    line-height: 32px;
    font-family: $f-main-b;
    margin-left: 10px;
  }
}

.title-label {
  margin-bottom: 8px;
}

.accordion {
  margin-top: 24px;

  .c-card {
    background: #f1f1f4;
    border-radius: 12px;
    padding: 0 16px;
    margin: 6px 0;
    &:not(:last-child) {
      margin-bottom: 12px;
    }

    &__content {
      padding: 0 0 16px 0;
    }

    &__btn {
      outline: none;
      @extend .font--bold;
      min-height: 56px;
      display: flex;
      align-items: center;
      justify-content: space-between;

      .arrow {
        transition: 0.3s all ease;
      }

      &.not-collapsed {
        .arrow {
          transform: scale(-1);
        }
      }
    }
  }
}

.table {
  border-radius: 12px;
  overflow: hidden;
  margin: 0;
  color: unset;
  margin-bottom: 17px;

  &__row {
    display: flex;
    flex-wrap: wrap;
    padding: 12px 16px;
    margin: 0 -5px;
    &:nth-child(odd) {
      background: #f8f8f8;
    }
  }

  &__col {
    width: calc(100% / 12 * 6 - 10px);
    margin: 0 5px;
    &:nth-child(2) {
      font-family: $f-main-m;
    }
  }
}

.list {
  padding: 0 0 0 17px;
  margin: 0;
}

:root {
  --brandPrimaryYellow: #ffd400;
  --brandPrimaryBlack: #231f20;

  --textPrimary: #10083f;
  --textSecondary: #858295;
  --textError: #ff5a43;
  --textParagraph: #504d64;
  --textTertiary: #a8a6b3;
  --textSuccess: #61ca45;
  --textLink: #0c4dce;
  --textLinkVisited: #4a11ae;
  --textWhite: #ffffff;

  --backgroundBlack: #1f1f1f;
  --backgroundMidGray: #f1f1f4;
  --backgroundWhite: #ffffff;
  --backgroundLightBlack: #282828;
  --backgroundLightGray: #f8f8f8;

  --iconsPrimary: #10083f;
  --iconsSecondary: #bdbdcc;

  --strokeGray: #f1f1f4;
  --strokeInputDisabled: #e8e8eb;
  --strokeInputNormal: #a8a6b3;
  --strokeInputActiveBlue: #2e83c5;
  --strokeInputError: #ff5a43;
  --strokeInputActiveYellow: #ffd400;

  --buttonsPrimaryActive: #ffe14d;
  --buttonsPrimaryHover: #ffd400;
  --buttonsPrimaryPressed: #fac400;
  --buttonsPrimaryDisabled: #fde499;
  --buttonsSecondaryActive: #e8e8eb;
  --buttonsSecondaryHover: #d3d3db;
  --buttonsSecondaryPressed: #c2c1c9;
  --buttonsSecondaryDisabled: #f3f3f4;

  --buttonsDangerActive: #ff5a43;
  --buttonsDangerHover: #ff462d;
  --buttonsDangerPressed: #e44029;
}

.bee-btn {
  border: none;
  outline: none;
  border-radius: 12px;
  font-weight: 600;
  cursor: pointer;
  transition: 0.3s all ease;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 10px;
  background-color: var(--buttonsPrimaryActive);
  color: var(--textPrimary);

  &:hover {
    background-color: var(--buttonsPrimaryHover);
  }

  &:active {
    background-color: var(--buttonsPrimaryPressed);
  }

  &:disabled {
    color: var(--textSecondary);
    background-color: var(--buttonsPrimaryDisabled);
  }

  &--secondary {
    background-color: var(--buttonsSecondaryActive);

    &:hover {
      background-color: var(--buttonsSecondaryHover);
    }

    &:active {
      background-color: var(--buttonsSecondaryPressed);
    }

    &:disabled {
      color: var(--textSecondary);
      background-color: var(--buttonsSecondaryDisabled);
    }
  }

  &--danger {
    background-color: var(--buttonsDangerActive);
    color: var(--backgroundWhite);
    &:hover {
      background-color: var(--buttonsDangerHover);
    }

    &:active {
      background-color: var(--buttonsDangerPressed);
    }

    &:disabled {
      color: var(--textSecondary);
      background-color: var(--buttonsSecondaryDisabled);
    }
  }

  &-theme {
    &--dark {
      background-color: var(--backgroundBlack);
      color: var(--backgroundWhite);

      &:hover {
        background-color: var(--backgroundLightBlack);
      }

      &:active {
        background-color: var(--backgroundBlack);
      }

      &:disabled {
        color: var(--textSecondary);
        background-color: var(--buttonsSecondaryDisabled);
      }
    }
  }

  &-size {
    &--s {
      min-width: 108px;
      min-height: 32px;
      .bee-btn-icon {
        width: 16px;
        height: 16px;
      }
    }

    &--m {
      min-width: 148px;
      min-height: 40px;
      .bee-btn-icon {
        width: 20px;
        height: 20px;
      }
    }

    &--l {
      min-width: 148px;
      min-height: 48px;
      .bee-btn-icon {
        width: 24px;
        height: 24px;
      }
    }

    &--xl {
      min-width: 148px;
      min-height: 50px;
      .bee-btn-icon {
        width: 24px;
        height: 24px;
      }
    }
  }

  &-view {
    &--rounded {
      border-radius: 56px;
    }

    &--square {
      &.bee-btn {
        &-size {
          &--s {
            min-width: 32px;
            min-height: 32px;
          }

          &--m {
            min-width: 40px;
            min-height: 40px;
          }

          &--l {
            min-width: 48px;
            min-height: 48px;
          }

          &--xl {
            min-width: 50px;
            min-height: 50px;
          }
        }
      }
    }
  }

  &-icon {
    &-align {
      &--right {
        flex-direction: row-reverse;
      }
    }
  }
}
