.font {
  &--bold {
    font-family: $f-main-b;
  }

  &--black {
      font-family: $f-main-bl;
  }

  &--medium {
      font-family: $f-main-m;
  }
}

.color {
  &--secondary {
    color: $c-text-secondary;
  }

  &--tertiary {
    color: $c-text-tertiary;
  }

  &--paragraph {
    color: $c-text-paragraph;
  }

  &--primary-yellow {
    color: $c-primary-yellow;
  }
}

.text {
  &--large {
    font-size: 32px;
    line-height: 36px;
  }

  &--small {
    font-size: 14px;
    line-height: 20px;
  }
}

@for $i from 0 through 60 {
  .mt {
    &-#{$i}px {
      margin-top: #{$i}px !important;
    }
  }

  .mb {
    &-#{$i}px {
      margin-bottom: #{$i}px !important;
    }
  }

  .mr {
    &-#{$i}px {
      margin-right: #{$i}px !important;
    }
  }

  .ml {
    &-#{$i}px {
      margin-left: #{$i}px !important;
    }
  }

  .pt {
    &-#{$i}px {
      padding-top: #{$i}px !important;
    }
  }

  .pb {
    &-#{$i}px {
      padding-bottom: #{$i}px !important;
    }
  }
}

.d {
  &-flex-aic {
    display: flex;
    align-items: center;
  }
}