$c-primary: #10083F;

$f-main-r: 'Roboto Regular';
$f-main-m: 'Roboto Medium';
$f-main-b: 'Roboto Bold';
$f-main-bl: 'Roboto Black';

$c-text-primary: #10083f;
$c-text-secondary: #858295;
$c-text-tertiary: #a8a6b3;
$c-text-link: #0c4dce;
$c-text-paragraph: #504d64;
$c-text-error: #ff5a43;

$c-primary-yellow: #ffd400;

$c-midgray: #F1F1F4;
$c-black: #000;
$hover-dur: 0.2s;