<template>
  <main :class="['main', { error: isError }]">
    <Preloader :class="['preloader', Theme]" v-if="Loading" />

    <template v-if="!Loading && !isError && Order">
      <div class="lang text--small">
        <span
          :class="['lang__item', { active: $i18n.locale == 'kk' }]"
          @click="changeLang('kk')"
          >Қазақша</span
        >
        <span
          :class="['lang__item', { active: $i18n.locale == 'en' }]"
          @click="changeLang('en')"
          >На русском</span
        >
      </div>

      <p class="title-main mb-10px">{{ Order.title }}</p>

      <div class="features" v-if="Order.productDetails">
        <div class="feature" v-if="Order.productDetails.rom">
          <Floppy class="feature__icon" />
          <p>{{ Order.productDetails.rom }}</p>
        </div>
        <div class="feature" v-if="Order.productDetails.battery">
          <Battery class="feature__icon" />
          <p>{{ Order.productDetails.battery }}</p>
        </div>
        <div
          class="feature"
          v-if="
            Order.productDetails.frontCameraResolution ||
              Order.productDetails.mainCameraResolution
          "
        >
          <Camera class="feature__icon" />
          <p v-if="Order.productDetails.mainCameraResolution">
            {{ Order.productDetails.mainCameraResolution }}
          </p>
          <p v-if="Order.productDetails.frontCameraResolution">
             {{ Order.productDetails.frontCameraResolution }}
          </p>
        </div>
        <div class="feature" v-if="Order.productDetails.display">
          <DisplayDiagonal class="feature__icon" />
          <p>{{ Order.productDetails.display }}</p>
        </div>
        <div class="feature" v-if="Order.productDetails.frequency">
          <DisplayFrequency class="feature__icon" />
          <p>{{ Order.productDetails.frequency }}</p>
        </div>
        <div class="feature" v-if="Order.productDetails.numberOfSim">
          <Sim class="feature__icon" />
          <p>{{ Order.productDetails.numberOfSim }}</p>
          <p v-if="Order.productDetails.esim">1 eSIM</p>
        </div>
      </div>

      <p class="title-label">
        {{ $t("credit") }} +
        <span class="color--primary-yellow ">{{ $t("yearTariff") }}</span>
      </p>
      <div class="price">
        <span class="price__value"
          >{{ parseNumber(Order.offers.pricePerMonth) }} ₸</span
        >
        <span class="price__month"
          >x {{ Order.offers.monthCount }} {{ $t("month") }}</span
        >
      </div>

      <p class="title-label">{{ $t("noTariffPrice") }}</p>
      <p class="text--large font--black">
        {{ parseNumber(Order.offers.price) }} ₸
      </p>

      <div class="accordion" role="tablist">
        <template v-if="Order.productDetails">
          <div class="c-card">
            <div v-b-toggle.accordion-1 variant="info" class="c-card__btn">
              {{ $t("features") }}
              <Arrow class="arrow" />
            </div>
            <b-collapse
              id="accordion-1"
              accordion="my-accordion"
              role="tabpanel"
            >
              <div class="c-card__content">
                <div class="" v-for="(group, i) in Order.description" :key="i">
                  <p class="font--medium mb-5px">{{ group.title }}</p>

                  <div class="table">
                    <div
                      class="table__row"
                      v-for="(spec, k) in group.specs"
                      :key="k"
                    >
                      <div class="table__col">{{ spec.title }}</div>
                      <div class="table__col">{{ spec.value }}</div>
                    </div>
                  </div>
                </div>
              </div>
            </b-collapse>
          </div>
        </template>

        <template v-if="Order.offers.proposedContractPricePlan">
          <div class="c-card">
            <div v-b-toggle.accordion-2 variant="info" class="c-card__btn">
              {{ $t("whatTariff") }}?
              <Arrow class="arrow" />
            </div>
            <b-collapse
              id="accordion-2"
              accordion="my-accordion"
              role="tabpanel"
            >
              <div class="c-card__content">
                <p>{{ $t("tariffTextOne") }}</p>
                <p class="font--bold">{{ $t("tariffTextTwo") }}:</p>
                <p
                  class="mb-0px"
                  v-html="Order.offers.proposedContractPricePlan.description"
                ></p>
              </div>
            </b-collapse>
          </div>
        </template>

        <template v-if="Order.thesises.length">
          <div class="c-card">
            <div v-b-toggle.accordion-3 variant="info" class="c-card__btn">
              {{ $t("creditConditionTitle") }}
              <Arrow class="arrow" />
            </div>
            <b-collapse
              id="accordion-3"
              visible
              accordion="my-accordion"
              role="tabpanel"
            >
              <div class="c-card__content">
                <div class="d-flex-aic mb-23px font--bold">
                  {{ $t("creditBeeline") }}
                  <svg
                    class="ml-10px"
                    width="83"
                    height="24"
                    viewBox="0 0 83 24"
                    fill="none"
                    xmlns="http://www.w3.org/2000/svg"
                  >
                    <path
                      d="M2.78983 4.30206C1.57068 5.763 0.694109 7.51613 0.270935 9.44054H23.7168C23.2936 7.51613 22.417 5.763 21.1979 4.30206H2.78983Z"
                      fill="#FFD400"
                    />
                    <path
                      d="M2.81107 19.7175H21.1889C22.4181 18.2566 23.2947 16.5035 23.7179 14.579H0.282104C0.705278 16.5035 1.59193 18.2566 2.81107 19.7175Z"
                      fill="#FFD400"
                    />
                    <path
                      d="M21.1893 19.718H2.81146C4.99786 22.3175 8.26234 23.9699 11.9097 24.0001H12.0911C15.7485 23.9699 19.0029 22.3175 21.1893 19.718Z"
                      fill="#231F20"
                    />
                    <path
                      d="M2.79068 4.30222H21.2088C19.0123 1.6826 15.7277 0.0100754 12.0401 0H11.9695C8.28187 0.0100754 4.98716 1.6826 2.79068 4.30222Z"
                      fill="#231F20"
                    />
                    <path
                      d="M23.7179 14.579C23.8992 13.7528 24 12.8964 24 12.0198V11.9896C24 11.113 23.8992 10.2667 23.7179 9.45056H0.282116C0.100756 10.2566 0 11.113 0 11.9795V12.0097C0 12.8863 0.100756 13.7427 0.282116 14.5689H23.7179V14.579Z"
                      fill="#231F20"
                    />
                    <path
                      d="M61.804 7.21225C61.804 7.6782 62.1748 8.05097 62.6652 8.05097C63.1436 8.05097 63.5264 7.68985 63.5264 7.21225C63.5264 6.7463 63.1436 6.37354 62.6652 6.37354C62.1748 6.37354 61.804 6.7463 61.804 7.21225Z"
                      fill="white"
                    />
                    <path
                      d="M66.3022 9.94913L66.2424 9.98407L66.1348 9.6812C66.0989 9.57636 66.0032 9.51812 65.8956 9.51812H65.3454C65.2018 9.51812 65.0822 9.63461 65.0822 9.77439V16.6705C65.0822 16.8103 65.2018 16.9268 65.3454 16.9268H66.3381C66.4817 16.9268 66.6013 16.8103 66.6013 16.6705V11.0907L66.6252 11.0791C67.0319 10.8694 67.4505 10.7412 68.2519 10.7412C69.2207 10.7412 69.4121 11.0907 69.4121 11.6615V16.6705C69.4121 16.8103 69.5317 16.9268 69.6753 16.9268H70.668C70.8116 16.9268 70.9312 16.8103 70.9312 16.6705V11.7081C70.9312 10.1821 70.0102 9.38998 68.2639 9.38998C67.594 9.37833 66.9362 9.56471 66.3022 9.94913Z"
                      fill="white"
                    />
                    <path
                      d="M63.3945 9.76268C63.3945 9.6229 63.2749 9.50641 63.1314 9.50641H62.1625C62.019 9.50641 61.8994 9.6229 61.8994 9.76268V16.6588C61.8994 16.7986 62.019 16.9151 62.1625 16.9151H63.1314C63.2749 16.9151 63.3945 16.7986 63.3945 16.6588V9.76268Z"
                      fill="white"
                    />
                    <path
                      d="M60.1061 6.3153C60.1061 6.17551 59.9865 6.05902 59.843 6.05902H58.8861C58.7426 6.05902 58.623 6.17551 58.623 6.3153V16.6595C58.623 16.7993 58.7426 16.9158 58.8861 16.9158H59.843C59.9865 16.9158 60.1061 16.7993 60.1061 16.6595V6.3153Z"
                      fill="white"
                    />
                    <path
                      d="M45.2619 12.5588C45.3337 11.6152 45.5968 10.7299 46.9604 10.7299C48.1445 10.7299 48.3718 11.3473 48.3957 12.5588V12.6054H45.2619V12.5588ZM43.7189 13.2111C43.7189 14.1547 43.7189 17.0553 46.9484 17.0553C47.9173 17.0553 48.5632 16.997 49.3885 16.7407C49.4842 16.7058 49.544 16.6126 49.544 16.5078V15.7273C49.544 15.6341 49.4962 15.5642 49.4244 15.5176C49.3526 15.471 49.2689 15.4827 49.1852 15.4943C48.4555 15.6457 47.8814 15.6923 46.9484 15.6923C45.5968 15.6923 45.3337 14.8653 45.25 13.9567L45.238 13.8984H49.6277C49.7713 13.8984 49.8909 13.7819 49.8909 13.6421V13.1995C49.8909 11.3473 49.6636 9.35535 46.9365 9.35535C43.7189 9.37864 43.7189 12.2676 43.7189 13.2111Z"
                      fill="white"
                    />
                    <path
                      d="M52.6064 12.5588C52.6781 11.6152 52.9413 10.7299 54.3048 10.7299C55.477 10.7299 55.7162 11.3473 55.7402 12.5588V12.6054H52.5944L52.6064 12.5588ZM51.0753 13.2111C51.0753 14.1547 51.0753 17.0553 54.3048 17.0553C55.2737 17.0553 55.9076 16.997 56.7449 16.7407C56.8406 16.7058 56.9004 16.6126 56.9004 16.5078V15.7273C56.9004 15.6341 56.8526 15.5642 56.7808 15.5176C56.709 15.471 56.6253 15.4827 56.5416 15.4943C55.8119 15.6457 55.2378 15.6923 54.3048 15.6923C52.9532 15.6923 52.6901 14.8653 52.6064 13.9567V13.8984H56.9961C57.1396 13.8984 57.2592 13.7819 57.2592 13.6421V13.1995C57.2592 11.3473 57.032 9.35535 54.3048 9.35535C51.0753 9.37864 51.0753 12.2676 51.0753 13.2111Z"
                      fill="white"
                    />
                    <path
                      d="M73.7416 12.5588C73.8134 11.6152 74.0765 10.7299 75.4401 10.7299C76.6123 10.7299 76.8515 11.3473 76.8754 12.5588V12.6054H73.7416V12.5588ZM72.2106 13.2111C72.2106 14.1547 72.2106 17.0553 75.4401 17.0553C76.4089 17.0553 77.0428 16.997 77.8801 16.7407C77.9758 16.7058 78.0356 16.6126 78.0356 16.5078V15.7273C78.0356 15.6341 77.9878 15.5642 77.916 15.5176C77.8442 15.471 77.7605 15.4827 77.6768 15.4943C76.9472 15.6457 76.373 15.6923 75.4401 15.6923C74.0885 15.6923 73.8253 14.8653 73.7416 13.9567L73.7296 13.8984H78.1193C78.2629 13.8984 78.3825 13.7819 78.3825 13.6421V13.1995C78.3825 11.3473 78.1552 9.35535 75.4281 9.35535C72.2106 9.37864 72.2106 12.2676 72.2106 13.2111Z"
                      fill="white"
                    />
                    <path
                      d="M38.9345 12.0108C40.4655 12.0108 41.0037 12.4651 41.0037 13.7349C41.0037 14.5969 40.7526 15.4705 38.8986 15.4705H36.6738V12.0108H38.9345ZM38.8149 7.47941C40.4296 7.47941 40.6449 8.22493 40.6449 9.02871C40.6449 10.0538 40.0827 10.5547 38.9225 10.5547H36.6619V7.47941H38.8149ZM35.394 6.0233C35.2385 6.0233 35.1189 6.13979 35.1189 6.29122V16.6354C35.1189 16.7869 35.2385 16.9033 35.394 16.9033H38.8508C41.3267 16.9033 42.6903 15.7734 42.6903 13.7232C42.6903 12.6049 42.1401 11.6497 41.2071 11.1721C41.2071 11.1721 41.1832 11.1605 41.1592 11.1488C41.1832 11.1372 41.1951 11.1139 41.1951 11.1139C41.9128 10.6013 42.3195 9.84413 42.3195 9.00541C42.3195 7.88712 41.853 6 38.7431 6H35.394V6.0233Z"
                      fill="white"
                    />
                    <path
                      fill-rule="evenodd"
                      clip-rule="evenodd"
                      d="M79.83 9.35535C79.818 9.35535 79.8061 9.367 79.8061 9.37864V9.61162C79.8061 9.62327 79.818 9.63492 79.83 9.63492H80.2725V11.1027C80.2725 11.1143 80.2845 11.126 80.2965 11.126H80.5477C80.5596 11.126 80.5716 11.1143 80.5716 11.1027V9.63492H81.0141C81.0261 9.63492 81.0381 9.62327 81.0381 9.61162V9.37864C81.0381 9.367 81.0261 9.35535 81.0141 9.35535H79.83Z"
                      fill="white"
                    />
                    <path
                      fill-rule="evenodd"
                      clip-rule="evenodd"
                      d="M82.6535 9.35535C82.6415 9.35535 82.6296 9.35535 82.6296 9.367C82.6296 9.367 82.175 10.3921 82.1392 10.4969C82.0913 10.3921 81.6487 9.367 81.6487 9.367C81.6487 9.35535 81.6368 9.35535 81.6248 9.35535H81.3258C81.3138 9.35535 81.3019 9.367 81.3019 9.37864V11.1027C81.3019 11.1143 81.3138 11.126 81.3258 11.126H81.565C81.577 11.126 81.577 11.126 81.5889 11.1143C81.5889 11.1143 81.6009 11.1027 81.6009 11.091C81.6009 11.091 81.5889 10.0892 81.5889 9.87955C81.6727 10.0659 82.0315 10.8697 82.0315 10.8697C82.0315 10.8814 82.0435 10.8814 82.0554 10.8814H82.2468C82.2588 10.8814 82.2707 10.8814 82.2707 10.8697C82.2707 10.8697 82.6296 10.0659 82.7133 9.87955C82.7133 10.0892 82.7013 11.091 82.7013 11.091C82.7013 11.1027 82.7013 11.1027 82.7133 11.1143C82.7252 11.1143 82.7252 11.126 82.7372 11.126H82.9764C82.9884 11.126 83.0004 11.1143 83.0004 11.1027V9.37864C83.0004 9.367 82.9884 9.35535 82.9764 9.35535H82.6535Z"
                      fill="white"
                    />
                  </svg>
                </div>

                <p class="mb-8px">{{ $t("creditConditionText") }}</p>
                <ul class="list">
                  <li v-for="(item, i) in Order.thesises" :key="i">1</li>
                </ul>
              </div>
            </b-collapse>
          </div>
        </template>
      </div>
    </template>

    <template v-if="isError">
      <div class="error-text">Oops, server error</div>
      <button
        class="bee-btn bee-btn-size--l error-btn"
        @click="
          getOrder({ id: $route.params.id, lang: 'en' });
          changeLang('en');
        "
      >
        Перезагрузить
      </button>
    </template>
  </main>
</template>

<script>
// @ is an alias to /src
import { mapActions, mapGetters, mapMutations } from "vuex";

const Floppy = () => import("@/components/icons/Floppy.vue");
const Battery = () => import("@/components/icons/Battery.vue");
const Camera = () => import("@/components/icons/Camera.vue");
const Sim = () => import("@/components/icons/Sim.vue");
const DisplayDiagonal = () => import("@/components/icons/DisplayDiagonal.vue");
const DisplayFrequency = () =>
  import("@/components/icons/DisplayFrequency.vue");
const Arrow = () => import("@/components/icons/Arrow.vue");
const Preloader = () => import("@/components/Preloader.vue");

let schedule = require("node-schedule");

export default {
  name: "Home",

  components: {
    Floppy,
    Battery,
    Camera,
    Sim,
    DisplayDiagonal,
    DisplayFrequency,
    Arrow,
    Preloader,
  },

  computed: {
    ...mapGetters({
      Order: "app/Order",
      Loading: "app/Loading",
      isError: "app/isError",
      Theme: "app/Theme",
    }),
  },

  methods: {
    ...mapActions({
      getOrder: "app/getOrder",
      getRequest: "app/getRequest",
    }),

    ...mapMutations({
      setTheme: "app/setTheme",
      toggleKey: "app/toggleKey",
    }),

    changeTheme() {
      this.setTheme("light");
    },

    parseNumber(num = 0) {
      let str = `${num}`;

      if ((str.length == 2 && str.length > 0) || str.length == 1) {
        return `${str}`;
      } else if (str.length > 2 && str.length < 7) {
        let strEnd = str.slice(-3);
        let strStart = str.slice(0, -3);
        return `${strStart} ${strEnd}`;
      } else if (str.length > 6) {
        let strEnd = str.slice(-3);
        let strMid = str.slice(-6, -3);
        let strStart = str.slice(0, -6);
        return `${strStart} ${strMid} ${strEnd}`;
      }
    },

    changeLang(lang) {
      this.$i18n.locale = lang;
      this.getOrder({ id: this.$route.params.id, lang });
    },
  },

  mounted() {
    schedule.scheduleJob("* * 4 * * *", function() {
      this.getOrder({ id: this.$route.params.id, lang: this.$i18n.locale });
    });
  },

  created() {
    this.getOrder({ id: this.$route.params.id, lang: this.$i18n.locale });
  },
};
</script>
<style scoped lang="scss">
.preloader {
  position: absolute !important;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.main {
  &.error {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex-direction: column;
  }
}

.error {
  &-text {
    font-size: 24px;
    line-height: 32px;
    font-family: "Roboto Bold";
    position: absolute;
    left: 50%;
    top: 50%;
    width: 100%;
    text-align: center;
    transform: translate(-50%, -50%);
  }

  &-btn {
    margin-top: "auto";
    width: 100%;
  }
}
</style>
