<template>
  <div
    class="radio-block"
    :style="{
      height: `${options.style.height}px`,
      background: options.style.background,
      padding: `${options.style.inputPadding}px`,
    }"
  >
    <div v-for="(item, i) in options.labels" :key="i">
      <input
        @input="$emit('update', $event.target.value)"
        :class="[options.value === item.name && 'active']"
        type="radio"
        :id="`${id}-${item.name}`"
        :name="options.inputName"
        :value="item.name"
      />
      <label
        :for="`${id}-${item.name}`"
        :style="{ padding: `${options.style.markPadding}px` }"
        >{{ item.title }}</label
      >
    </div>
  </div>
</template>
<script>
export default {
  data() {
    return {
      id: Math.random()
        .toString(36)
        .slice(-8),
    };
  },
  props: {
    options: {
      default: () => {
        return {
          value: "item1",
          inputName: "type1",
          style: {
            height: 40,
            inputPadding: 2,
            markPadding: 10,
            background: "#e3edf5",
          },
          labels: [
            { name: "item1", title: "item1" },
            { name: "item2", title: "item2" },
            { name: "item3", title: "item3" },
          ],
        };
      },
      type: Object,
    },
  },
};
</script>
<style lang="scss" scoped>
.radio-block {
  display: inline-flex;
  align-items: center;
  border-radius: 12px;
  height: 44px;
  align-items: stretch;
  cursor: pointer;
  border: 1px solid #1f1f1f;

  input {
    display: none;
    &.active {
      & + label {
        background: #282828;
      }
    }
  }

  label {
    cursor: pointer;
    border-radius: 10px;
    display: flex;
    height: 100%;
    align-items: center;
    text-align: center;
    color: #fff;
    transition: 0.3s all ease;
    user-select: none;
  }
}
</style>
