<template>
  <div
    class="adaptive-switcher"
    :style="{ width: `${width}px`, height: `${height}px`, background }"
  >
    <input
      type="checkbox"
      class="adaptive-switcher__input"
      :id="id"
      v-model="status"
      @input="switcherStatus"
    />
    <label class="adaptive-switcher__clickable" :for="id"></label>
    <span
      class="adaptive-switcher__text"
      :class="[currentMark === markText1ref && 'active']"
      :ref="markText1ref"
      :style="{ left: `${markPadding}px` }"
      >{{ activeText || 'Активен' }} <slot name="on_icon"></slot
    ></span>
    <span
      class="adaptive-switcher__text"
      :class="[currentMark === markText2ref && 'active']"
      :ref="markText2ref"
      :style="{ right: `${markPadding}px` }"
      >{{ unactiveText || 'Неактивен' }} <slot name="off_icon"></slot
    ></span>
    <div
      class="adaptive-switcher__mark"
      :ref="markRef"
      :style="{
        top: `${inputPadding}px`,
        left: `${inputPadding}px`,
        width: $refs[markText1ref]
          ? `${$refs[currentMark].clientWidth + markPadding * 2}px`
          : 0,
        height: `${height - inputPadding * 2}px`,
      }"
    ></div>
  </div>
</template>

<script>
export default {
  props: {
    active: {
      type: Boolean,
    },
    activeText: {
      type: String,
    },
    unactiveText: {
      type: String,
    },
    width: {
      type: Number,
    },
    height: {
      default: 0,
      type: Number,
    },
    markPadding: {
      default: 0,
      type: Number,
    },
    inputPadding: {
      default: 0,
      type: Number,
    },
    background: {
      type: String,
    },
  },
  data: () => ({
    status: true,
    id: null,
    currentMark: null,
    markText1ref: Math.random().toString(36).slice(-8),
    markText2ref: Math.random().toString(36).slice(-8),
    markRef: Math.random().toString(36).slice(-8),
  }),
  methods: {
    switcherStatus(e) {
      this.$emit('switcherStatus', !this.status)
      this.currentMark = this.status ? this.markText2ref : this.markText1ref

      if (this.status) {
        this.$refs[this.markRef].style.transform = `translate(${
          this.width -
          (this.$refs[this.currentMark].clientWidth +
            this.inputPadding * 2 +
            this.markPadding * 2)
        }px,0)`
      } else {
        this.$refs[this.markRef].style.transform = 'translate(0)'
      }
    },
  },
  watch: {
    active: {
      immediate: true,
      handler(data) {
        this.status = data
      },
    },
  },
  mounted() {
    try {
      this.id = this._uid
      this.currentMark = this.status ? this.markText1ref : this.markText2ref
      this.$nextTick(() => {
        this.$refs[this.markRef].style.width = `${
          this.$refs[this.currentMark].clientWidth + this.markPadding * 2
        }px`

        if (!this.status) {
          this.$refs[this.markRef].style.transform = `translate(${
            this.width -
            (this.$refs[this.currentMark].clientWidth +
              this.inputPadding * 2 +
              this.markPadding * 2)
          }px,0)`
        } else {
          this.$refs[this.markRef].style.transform = 'translate(0)'
        }
      })
    } catch (e) {}
  },
}
</script>

<style lang="scss" scoped>
.adaptive-switcher {
  position: relative;
  display: flex;
  box-shadow: -1px -1px 0px rgba(255, 255, 255, 0.7), inset 3px 3px 10px #a2b4c1;
  border-radius: 10px;

  &__text {
    display: flex;
    align-items: center;
    pointer-events: none;
    position: absolute;
    top: 50%;
    width: auto;
    height: auto;
    z-index: 2;
    transform: translateY(-50%);
    transition: 0.3s color ease;
    color: #93abbb;
    &.active {
      color: #000;
    }

    img {
      width: 19px;
    }
  }

  &__mark {
    background: #e7edf2;
    box-shadow: 1px 1px 0px #9db0bf, inset 1px 1px 0px rgba(255, 255, 255, 0.4);
    position: absolute;
    transition: 0.3s all ease;
    z-index: 0;
    border-radius: 10px;
  }

  &__clickable {
    cursor: pointer;
    text-indent: -9999px;
    width: 100%;
    height: 100%;
    display: block;
    position: relative;
    transition: 0.3s all ease;
    z-index: 1;
  }

  &__input {
    height: 0;
    width: 0;
    visibility: hidden;
  }
}
</style>
