<template>
    <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path d="M10 14.5234C10.1953 14.5234 10.3906 14.4453 10.5234 14.2969L16.5703 8.10156C16.7031 7.96875 16.7812 7.79688 16.7812 7.60156C16.7812 7.19531 16.4766 6.88281 16.0703 6.88281C15.875 6.88281 15.6953 6.96094 15.5625 7.08594L10 12.7734L4.42969 7.08594C4.30469 6.96094 4.125 6.88281 3.92188 6.88281C3.51562 6.88281 3.21094 7.19531 3.21094 7.60156C3.21094 7.79688 3.28906 7.96875 3.42188 8.10938L9.46875 14.2969C9.61719 14.4453 9.79688 14.5234 10 14.5234Z" fill="white"/>
    </svg>
</template>