<template>
  <svg width="49" height="42" viewBox="0 0 49 42" fill="none" xmlns="http://www.w3.org/2000/svg">
    <path class="fill" d="M17.05 6.3278V5.16667C17.05 3.41777 18.6618 2 20.65 2H27.85C29.8382 2 31.45 3.41777 31.45 5.16667V6.3278C34.1887 6.8168 36.25 8.94666 36.25 11.5V34.7222C36.25 37.6371 33.5637 40 30.25 40H18.25C14.9363 40 12.25 37.6371 12.25 34.7222V11.5C12.25 8.94666 14.3113 6.8168 17.05 6.3278ZM29.05 6.22222V5.16667C29.05 4.5837 28.5127 4.11111 27.85 4.11111H20.65C19.9873 4.11111 19.45 4.5837 19.45 5.16667V6.22222H29.05ZM18.25 8.33333C16.2618 8.33333 14.65 9.7511 14.65 11.5V34.7222C14.65 36.4711 16.2618 37.8889 18.25 37.8889H30.25C32.2382 37.8889 33.85 36.4711 33.85 34.7222V11.5C33.85 9.7511 32.2382 8.33333 30.25 8.33333H18.25ZM20.65 23.1111C19.6916 23.1111 19.1199 22.1715 19.6515 21.47L24.4515 15.1367C24.8192 14.6516 25.5642 14.5206 26.1156 14.8439C26.6671 15.1673 26.8161 15.8227 26.4485 16.3077L22.8922 21H27.85C28.8084 21 29.3801 21.9396 28.8485 22.6411L24.0485 28.9744C23.6808 29.4595 22.9358 29.5905 22.3844 29.2672C21.8329 28.9438 21.6839 28.2884 22.0515 27.8034L25.6078 23.1111H20.65Z" fill="white"/>
  </svg>
</template>

<script>
export default {
  name: "Battery"
}
</script>