<template>
   <svg width="43" height="42" viewBox="0 0 43 42" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path d="M2.5 34.125V13.125C2.5 10.7088 4.45875 8.75 6.875 8.75H10.2519C11.1295 8.75 11.9491 8.31136 12.436 7.58109L13.8579 5.44819C14.6693 4.23107 16.0353 3.5 17.4981 3.5H26.0019C27.4647 3.5 28.8307 4.23107 29.6421 5.44819L31.064 7.58109C31.5509 8.31136 32.3705 8.75 33.2481 8.75H36.625C39.0412 8.75 41 10.7088 41 13.125V34.125C41 36.5412 39.0412 38.5 36.625 38.5H6.875C4.45875 38.5 2.5 36.5412 2.5 34.125ZM4.25 34.125C4.25 35.5747 5.42525 36.75 6.875 36.75H36.625C38.0747 36.75 39.25 35.5747 39.25 34.125V13.125C39.25 11.6753 38.0747 10.5 36.625 10.5H33.2481C31.7853 10.5 30.4193 9.76893 29.6079 8.55181L28.186 6.41891C27.6991 5.68864 26.8795 5.25 26.0019 5.25H17.4981C16.6205 5.25 15.8009 5.68864 15.314 6.41891L13.8921 8.55181C13.0807 9.76893 11.7147 10.5 10.2519 10.5H6.875C5.42525 10.5 4.25 11.6753 4.25 13.125V34.125Z" fill="white"/>
        <path fill-rule="evenodd" clip-rule="evenodd" d="M21.75 31.75C16.7794 31.75 12.75 27.7206 12.75 22.75C12.75 17.7794 16.7794 13.75 21.75 13.75C26.7206 13.75 30.75 17.7794 30.75 22.75C30.75 27.7206 26.7206 31.75 21.75 31.75ZM21.75 30.25C25.8921 30.25 29.25 26.8921 29.25 22.75C29.25 18.6079 25.8921 15.25 21.75 15.25C17.6079 15.25 14.25 18.6079 14.25 22.75C14.25 26.8921 17.6079 30.25 21.75 30.25Z" fill="white"/>
    </svg>
</template>