<template>
    <svg width="42" height="42" viewBox="0 0 42 42" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path d="M14.875 5.25C13.4253 5.25 12.25 6.42525 12.25 7.875V34.125C12.25 35.5747 13.4253 36.75 14.875 36.75H27.1449C28.5946 36.75 29.7699 35.5747 29.7699 34.125V7.875C29.7699 6.42525 28.5946 5.25 27.1449 5.25H27.125C26.6418 5.25 26.25 5.64175 26.25 6.125C26.25 7.57475 25.0747 8.75 23.625 8.75H18.375C16.9253 8.75 15.75 7.57475 15.75 6.125C15.75 5.64175 15.3582 5.25 14.875 5.25ZM17.3506 5.25C17.4474 5.52368 17.5 5.81819 17.5 6.125C17.5 6.60825 17.8918 7 18.375 7H23.625C24.1082 7 24.5 6.60825 24.5 6.125C24.5 5.81819 24.5526 5.52368 24.6494 5.25H17.3506ZM10.5 7.875C10.5 5.45875 12.4588 3.5 14.875 3.5H27.1449C29.5611 3.5 31.5199 5.45875 31.5199 7.875V34.125C31.5199 36.5412 29.5611 38.5 27.1449 38.5H14.875C12.4588 38.5 10.5 36.5412 10.5 34.125V7.875Z" fill="white"/>
        <path d="M21.875 24.5L25.8022 19.0413L30.2819 22.8046L34.125 17.5" stroke="black" stroke-width="6" stroke-linecap="round" stroke-linejoin="round"/>
        <path d="M21.875 24.5L25.8022 19.0413L30.2819 22.8046L34.125 17.5" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
    </svg>
</template>