<template>
    <svg width="42" height="42" viewBox="0 0 42 42" fill="none" xmlns="http://www.w3.org/2000/svg">
      <path d="M12.25 35V21.875C12.25 21.3918 12.6418 21 13.125 21H28.875C29.3582 21 29.75 21.3918 29.75 21.875V35H32.375C33.8247 35 35 33.8247 35 32.375V11.7374L30.2626 7H26.25V13.125C26.25 13.6082 25.8582 14 25.375 14H11.375C10.8918 14 10.5 13.6082 10.5 13.125V7H9.625C8.17525 7 7 8.17525 7 9.625V32.375C7 33.8247 8.17525 35 9.625 35H12.25ZM14 35H28V22.75H14V35ZM21 7H12.25V12.25H21V7ZM22.75 7V12.25H24.5V7H22.75ZM5.25 9.625C5.25 7.20875 7.20875 5.25 9.625 5.25H30.625C30.8571 5.25 31.0796 5.34219 31.2437 5.50628L36.4937 10.7563C36.6578 10.9204 36.75 11.1429 36.75 11.375V32.375C36.75 34.7912 34.7912 36.75 32.375 36.75H9.625C7.20875 36.75 5.25 34.7912 5.25 32.375V9.625Z" fill="white"/>
    </svg>
</template>

<script>
export default {
  name: "Floppy"
}
</script>