<template>
    <svg width="42" height="42" viewBox="0 0 42 42" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path class="no-fill" d="M8 16.625V4.5H25.3232L32.25 11.4268V34.125C32.25 35.989 30.739 37.5 28.875 37.5H11.375C9.51104 37.5 8 35.989 8 34.125V23.625V16.625ZM32.2866 11.4634C32.2865 11.4633 32.2865 11.4633 32.2864 11.4632L32.2866 11.4634Z" stroke="white" stroke-width="2"/>
        <path d="M27.3606 18.375H12.0144C11.6613 18.375 11.375 18.6777 11.375 19.0511V32.5739C11.375 32.9473 11.6613 33.25 12.0144 33.25H27.3606C27.7137 33.25 28 32.9473 28 32.5739V19.0511C28 18.6777 27.7137 18.375 27.3606 18.375ZM20.3269 19.7273H22.8846V22.4318H20.3269V19.7273ZM16.4904 19.7273H19.0481V22.4318H16.4904V19.7273ZM12.6538 19.7273H15.2115V22.4318H12.6538V19.7273ZM15.2115 31.8977H12.6538V29.1932H15.2115V31.8977ZM12.6538 27.8409V23.7841H15.851C16.9104 23.7841 17.7692 24.6922 17.7692 25.8125C17.7692 26.9328 16.9104 27.8409 15.851 27.8409H12.6538ZM19.0481 31.8977H16.4904V29.1932H19.0481V31.8977ZM22.8846 31.8977H20.3269V29.1932H22.8846V31.8977ZM26.7212 31.8977H24.1635V28.517C24.1635 28.1436 23.8772 27.8409 23.524 27.8409H18.392C19.2665 26.6467 19.2665 24.9783 18.392 23.7841H26.7212V31.8977ZM26.7212 22.4318H24.1635V19.7273H26.7212V22.4318Z" fill="white"/>
    </svg>
</template>