<template>
  <div id="app" :class="`theme theme--${Theme}`">
    <transition name="fade"><router-view></router-view></transition>
  </div>
</template>
<script>
import { mapGetters } from "vuex";

export default {
  name: "Home",

  data() {
    return { langs: ["en", "ru"] };
  },

  components: {},

  computed: {
    ...mapGetters({
      Theme: "app/Theme",
    }),
  },

  methods: {},
};
</script>

<style>
.fade-enter-active,
.fade-leave-active {
  transition: opacity 0.5s;
}
.fade-enter,
.fade-leave-to {
  opacity: 0;
}
</style>
